@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #222;
  background: #F5F5F5
}

ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-poppins5);
  font-size: 1.2rem;
  color: #2e4198;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

@media (min-width: 1536px) {
  ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-poppins5);
    font-size: 1.3vw;
    color: #2e4198;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
  }
}

@media (max-width: 1024px) {
  ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-poppins5);
    font-size: 1.2rem;
    color: #2e4198;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0rem;
  }
}

@media (max-width: 768px) {
  ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-poppins5);
    font-size: 1rem;
    color: #2e4198;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0;
  }
}

a {
  color: #2563eb;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}